// 边框颜色重置
$border-color: #e8e8e8;

$yellow: #f8c74d;
$blue: #4787f2;
$border-blue: #2d8cf0;
$bg-blue: rgba(71, 135, 242, 0.1);
$purple: #6d6bc6;
$purple1: #985ecf;
$golden: #e7c083;

// $green1: #E9F8F1;
$green: #26be76;
$dark-green: #22a265;
$light-green: #26be767f;
$lighter-green: #e9f8f1;
$green-bg: #f4fcf8;
$light-gray: #88828e;
$thin-green: rgba($green, 0.1);

$purple-blue: #584f60;
$dark-purple-blue: #3d3346;
$light-purple-blue: #4f4459;
$light-white: #fbfbfb;
$white-yellow: #fff5e2;
$water-red: #ffebed;
$bg-black: #3f444b;

$red: #ff3c4a;
$dark-red: #d9333f;
$light-red: #ff5763;
$deep-red: #fa4d5e;

$orange: #f4c78b;
$orange-red: #f76947;
$orange-light: #ff9d32;
$gold-yellow: #cfa972;
$orange-yellow: #3d1c0e;
$dark-orange: #f6a742;
$deep-orange: #ffa227;
$light-orange: #fcf4d2;
$yellow-orange: #ffe2aa;
$beans: #ff9903;
$tinge-pink: #fff8f4;
$pink: #ffeeef;
$pink-red: #ffe3dc;
$thin-orange: #fde8c9;
$ccc: #ccc;
$c3e5: #e5e5e5;
$ce8: #e8e8e8;
$date-orange: #fe5f4b;
$dark-gold: #a46e3f;
$link-blue: #108de7;
$c666: #666;
$cf5: #f5f5f5;
$c82: #828282;
$c86: #868686;
$ccd: #cdcdcd;
$c33: #333;
$c6c7: #6c7177;
$wechat: #09bb07;
$alipay: #0ae;
$ocean-blue: #0a8ffa;
$mazarine: #006ac2;

$black: #000;
$cf00: #f00;
$cf9: #f9f9f9;
$c888: #888;
$c51: #515151;
$cf2: #f2f2f2;
$cf8: #f8f8f8;
$c2b: #2b2b2b;
$cbb: #bbb;
$c1c: #c1c1c1;
$title-black: #2a2825;
$brown: #91744a;
$title-gray: #a17842;
$thin-gray: #eeeeed;
$orange2: #fccf93;
$orange3: #fcdbb8;
$list-title-black: #2e3136;
$list-time-black: #9c9fa6;
$purple-balck: #7b79d3;
$cbf: #bfbfbf;
$card-black: #2a2a2a;
$c90: #909090;
$black-dark2: #2d3135;
$black-gray:#3b1503;
$dark-gray: #9b9ea5;
$gray-bg: #e8e6f1;
$pale: #eeedee;
$brown-black: #95503b;
$brown-deep: #7d5520;
$brown-black: #86622a;
$brown-gray: #c69d79;
$active-blue: #0a99ff;
$red-orange: #e8541e;
$gray-white: #f7f8fc;
$red-white: #ffaab0;
$yellow-white: #f3d0a1;
$cyan: #71c7ac;
$deep-cyan: #67bca1;
$brown-light: #c67a7a;
$purple-light: #7775ce;
$gray-blue: #7695cf;
$rice-white: #fffdf9;
$cash: #fe6264;
// gradient
$gradient-purple: #7564c5;
$gradient-blue: #88a9f4;
$nattier-blue: #f5fbff;
$dark-purple: #453b4e;
$tag-purple: #493f52;
$c0b03: #0b0306;

$cfe: #fefefe;
$ce7: #e7e7e7;
$gray-black: #252427;
